:root {
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-prymary-dark: #31261A;
    --color-prymary-light: #fAF4EA;
    --color-brand-light: #CFCFBC;
    --color-secondary-dark: #A18268;
}