.button {
    padding: 16px 32px;
    color: var(--color-prymary-light);
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--color-brand-normal);
    background: var(--color-brand-normal);
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/*
.button:disabled{
    color: gray;
    background-color: lightgrey;
    border-color: currentColor;
    cursor: not-allowed;
}
*/