.hero-sectoin {
    padding: 272px 0;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url('../img/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

.hero-title {
    color: var(--color-prymary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand-normal);
}
